
body {
    background: url(/PetShop/resources/imagens/background.jpg);
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin:0px;
}

#top {
    position: relative;
    margin-bottom: 3px;
    height: 20%;
}

 #top #logo {
        
        margin-left: 15%;
    }

#menu{
    margin-left: 15%;
    width: 70%
}

#center{
    margin-top: 3px;
    background-color: #ffffff;
    height: 900px;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border: 1px solid #0099ff;
    margin-left: 15%;
    width: 70%
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#form{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 25%;
    
}


#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #000000;
    font-size: 18px;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #000000;
    text-decoration : underline;
}


