<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./templatePEtshop.xhtml">

            <ui:define name="content">

                <p:growl id="growl" /> 

                <h:form id="form">
                    <p:fieldset legend="Dados do Cliente"  style="font-size: 16px;" >

                        <p:panelGrid columns="2" id="gridCadastroCliente"  style="font-size: 16px;">

                            <p:outputLabel value="Nome :" for="txtNomeCliente"/>
                            <p:inputText id="txtNomeCliente" value="#{clienteBean.cliente.nome}" maxlength="80" size="50"  required="true"/>

                            <p:outputLabel value="Telefone :" for="txtTelefoneCliente"/>
                            <p:inputMask mask="9999-9999" id="txtTelefoneCliente" value="#{clienteBean.cliente.telefone}" maxlength="8" size="10"/>

                            <p:outputLabel value="Telefone Celular :" for="txtTelefoneCelCliente"/>
                            <p:inputMask mask="99999-9999" id="txtTelefoneCelCliente" value="#{clienteBean.cliente.celular}" maxlength="8" size="10" required="true"/>

                            <p:outputLabel value="Logradouro :" for="txtLogradouro"/>
                            <p:inputText id="txtLogradouro" value="#{clienteBean.cliente.endereco.logradouro}" maxlength="80" size="50" required="true"/>

                            <p:outputLabel value="Número :" for="txtNumeroCliente"/>
                            <p:inputText id="txtNumeroCliente" value="#{clienteBean.cliente.endereco.numero}" maxlength="4" size="4" required="true"/>

                            <p:outputLabel value="Cidade :" for="txtCidadeCliente"/>
                            <p:inputText id="txtCidadeCliente" value="#{clienteBean.cliente.endereco.cidade.nomeCidade}" maxlength="30" size="20" required="true"/>

                            <p:outputLabel value="Bairro :" for="txtBairroCliente"/>
                            <p:inputText id="txtBairroCliente" value="#{clienteBean.cliente.endereco.cidade.bairro.nomeBairro}" maxlength="50" size="20"  required="true"/>

                            <f:facet name="footer">
                                <p:commandButton value="Salvar" action="#{clienteBean.salvar}" icon="fa fa-save" update="growl,gridCadastroCliente">
                                    <p:confirm header="Confirmação" message="Confirmar Cadastro do Cliente?" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:commandButton value="cancelar" type="reset" icon="fa fa-close"/>
                                <p:confirmDialog global="true" showEffect="Bounce" hideEffect="fade">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                            </f:facet>
                        </p:panelGrid>
                    </p:fieldset>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
