<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./templatePEtshop.xhtml">

            <ui:define name="content">
                <p:growl id="growl" />

                <h:form id="form">
                    <p:fieldset legend="Dados do Animal"  style="font-size: 16px;" >

                        <p:panelGrid columns="2" id="gridCadastroAnimal"  style="font-size: 16px;">

                            <p:outputLabel value="Nome :" for="txtNomeAnimal"/>
                            <p:inputText id="txtNomeAnimal" value="#{animalBean.animal.nome}" maxlength="80" size="50"  required="true"/>

                            <p:outputLabel value="Nome do Dono:" for="txtDono" />
                 <p:autoComplete id="txtDono" 
                                 value="#{animalBean.cliente}" minQueryLength="1" completeMethod="#{clienteBean.listacliente}" 
                                            converter="clienteConverter"
                                            var="cliente" itemLabel="#{cliente.nome}" itemValue="#{cliente}" forceSelection="true"
                                            size="20" >
                                <p:ajax event="itemSelect" process="@this" />
                            </p:autoComplete>

                            <p:outputLabel value="Tipo : " for="txtTipoAnimal"/>
                            <p:selectOneMenu id="txtTipoAnimal" value="#{animalBean.animal.tipoAnimal.id}">
                                <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                <f:selectItems value="#{tipoAnimalBean.tipoAnimais}" var="tipoAnimal" 
                                               itemLabel="#{tipoAnimal.tipo}" itemValue="#{tipoAnimal.id}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Raça :" for="txtRacaAnimal"/>
                            <p:inputText id="txtRacaAnimal" value="#{animalBean.animal.raca}" maxlength="20" size="10"/>


                            <p:outputLabel value="Sexo : " for="txtAnimalSexo"/>
                            <p:selectOneMenu id="txtAnimalSexo" value="#{animalBean.animal.animalSexo.id}">
                                <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                <f:selectItems value="#{animalSexoBean.animaisSexo}" var="AnimalSexo" 
                                               itemLabel="#{AnimalSexo.sexo}" itemValue="#{AnimalSexo.id}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="Idade:" for="txtIdadeAnimal"/>
                            <p:inputText id="txtIdadeAnimal" value="#{animalBean.animal.idade}" maxlength="2" size="5"/>

                            <f:facet name="footer">
                                <p:commandButton value="Salvar" process="@this" action="#{animalBean.salvar}" icon="fa fa-save" update="growl,gridCadastroAnimal">
                                    <p:confirm header="Confirmação" message="Confirmar Cadastro do Animal?" icon="ui-icon-alert" />
                                </p:commandButton>
                                <p:commandButton value="cancelar" type="reset" icon="fa fa-close"/>
                                <p:confirmDialog global="true" showEffect="Bounce" hideEffect="fade">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>

                            </f:facet>
                        </p:panelGrid>
                    </p:fieldset>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
