<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>PetShop Santoretta</title>
    </h:head>

    <h:body>
        <div id="top">
            <div id="logo">
                <p:graphicImage library="imagens" name="logo.jpg"/>
            </div>
        </div>
        <div id="menu">
            <h:form>  
                <p:menubar>
                    <p:menuitem value="Início" icon="fa fa-home" url="/index.xhtml"/>
                    <p:submenu label="Clientes" icon="fa fa-user">
                        <p:menuitem  value="Cadastrar Cliente" url="/cadastroCliente.xhtml"/><p:separator/>
                        <p:menuitem value="Pesquisar Clientes" url="/pesquisaCliente.xthml"/>
                    </p:submenu>

                    <p:menuitem value="Animal" url="/cadastroAnimal.xhtml" icon="fa fa-paw"/>

                    <p:submenu label="Produtos" icon="fa fa-barcode">
                        <p:menuitem  value="Novo Produto" url="/cadastroProduto.xhtml"/><p:separator/>
                        <p:menuitem value="Pesquisar Produto" url="/pesquisaProduto.xthml"/>
                    </p:submenu>
                    <f:facet name="options">
                        <p:commandButton value="Logout" icon="fa fa-key" />
                    </f:facet>
                </p:menubar>

            </h:form>
        </div>

        <div id="center">
            <ui:insert name="content">Content</ui:insert>
        </div>


        <div id="bottom">
            <div id="direitos">@ moretZ</div>
            <div id="menubottom">@menu</div>
        </div>

    </h:body>

</html>
